.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin: 0 auto;
}

.nav {
    display: flex;
    gap: 40px;
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.r1 {
    width: 100%;
    margin-top: 20px;
}

.t1 {
    position: absolute;
    color: #FFF;
    font-family: Helvetica;
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
  
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.t2 {
    position: absolute;
    color: #FFF;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-top: 140px;
}

.t3 {
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t4 {
    color: #010101;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t5 {
    color: #636060;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.myflex3 {
    display: flex;
    justify-content: space-between;
}

.infowrapper {
    width: 235px;

}

.infowrapper h4 {
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.infowrapper h3 {
    color: #010101;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.infowrapper p {
    color: #636060;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardwrapper {
    width: 924px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    row-gap: 56px;
}

.card {
    width: 286px;

}

.card img {
    width: 100%;
    margin-bottom: 23px;
}

.card h3 {
    color: #343232;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.card p {
    color: #636060;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.s2 {
    margin-bottom: 100px;
    width: 1350px;
    margin-top: 84px;
    margin-left: 240px;
}


